First Telegram Bot.json
{
  "name": "First Telegram Bot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "*"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -960,
        -80
      ],
      "id": "684617d5-f67f-498a-8567-2470e0b6537f",
      "name": "Telegram Trigger",
      "webhookId": "b0aa0b90-4b49-4f94-bafc-7d14d9142d92",
      "credentials": {
        "telegramApi": {
          "id": "MGrq1LJ3x5fbfbrp",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        736,
        -240
      ],
      "id": "3cb96fe2-a266-4d61-9838-e3cf46ce3cfc",
      "name": "Send a text message",
      "webhookId": "85c1800f-914c-489d-a95d-73b0aa99fb7d",
      "credentials": {
        "telegramApi": {
          "id": "MGrq1LJ3x5fbfbrp",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "You are Leo Bot (full name: Leo Das), created by Lokith Kumar.\nYour role is to respond to user messages based on the instructions below.\n\nGreeting Rule\n\n• If the user sends hi, hello, hey, good morning, good evening, or any greeting, reply politely with a good note, introduce yourself, and ask:\n\"How can I assist you today?\"\n\nTool Access\n\n• You have access to the \"search internet\" tool, which uses LangSearch to search the internet.\n• Use this tool only when the user requests information that requires online searching.\n• If the answer does not require the tool, reply normally.\n\nResponse Rule\n\n• I will share user prompts with you.\n• You must respond with only what is needed, based on the user's message and your allowed capabilities.\n• Keep responses polite, clear, and helpful."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        80,
        -224
      ],
      "id": "6d6dc7dd-8bad-434d-8a69-541b64c0a0b3",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "gpt-4.1-nano"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        192,
        176
      ],
      "id": "7a759ebd-29cb-4caa-bed3-ff03335404a8",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "QGLGU40faXrw5Xy2",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.from.username }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        336,
        176
      ],
      "id": "58b065cd-0a4c-4a4d-a397-f3307dd71c22",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.langsearch.com/v1/web-search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "sk-e72b2d96142b43b98ccb234b014a551f"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "what is the name of latest elon musk ongoing project"
            },
            {
              "name": "freshness",
              "value": "onLimit"
            },
            {
              "name": "summary",
              "value": "true"
            },
            {
              "name": "count",
              "value": "1"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        688,
        112
      ],
      "id": "ba21652d-abd5-4060-81d5-254eae9fa072",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "sendChatAction",
        "chatId": "={{ $json.message.chat.id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -640,
        -256
      ],
      "id": "fda8a294-851e-4a37-a073-ab4f9ad4ffaf",
      "name": "Send a chat action",
      "webhookId": "04b8e53c-e069-49c4-bb15-3e137cc639f9",
      "credentials": {
        "telegramApi": {
          "id": "MGrq1LJ3x5fbfbrp",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "7ccfa338-3681-41e5-8a82-20a7ca6bfba2"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "string"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "755c97e6-dad0-4f45-9a8a-1ed864238017",
                    "leftValue": "={{ $json.message.voice }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "voice"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -656,
        -64
      ],
      "id": "03aaf45e-3111-48ea-9171-73c1075454d0",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        -224,
        32
      ],
      "id": "df048107-bf13-4f67-b20a-00adbdf3169d",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "QGLGU40faXrw5Xy2",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ac4390ec-f68e-4fdd-8549-601509dd09c4",
              "name": "message.text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -80,
        -80
      ],
      "id": "0f5269a9-0e16-47d3-9e14-a9b4ac00c86d",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -432,
        32
      ],
      "id": "a510c9c6-7773-47df-b6fb-43aefe322d13",
      "name": "Get a file",
      "webhookId": "962847a9-ff0b-47b2-9135-d6dd3866b3d6",
      "credentials": {
        "telegramApi": {
          "id": "MGrq1LJ3x5fbfbrp",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Send a chat action",
            "type": "main",
            "index": 0
          },
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f99ef9b3-95a3-4b00-b9ba-1185343e6716",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0a54e327c112b6e1cf03ed15eecb8b9041a013b2a48663793aa6dc49185bd576"
  },
  "id": "f4UiwfdCmNGjEZXH",
  "tags": []
}